/* Grid.css */

.grid-container {
    display: grid;
    /* grid-template-columns: repeat(18, 0fr);
    grid-template-rows: repeat(14, 0fr); */
    justify-content: center; 
    margin: 0 auto;
    margin-top: 30px;    
}

.grid-container.readonly {
    pointer-events: none;
    opacity: 0.4;
}

.grid-position {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin: auto;
}