/* Grid.css */

.grid-container {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(14, 1fr);
}

.grid-position {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}